{
  "root": true,
  "parserOptions": { "project": "./tsconfig.json" },
  "extends": [
    "eslint:recommended",
    "plugin:vue/vue3-essential",
    "@vue/eslint-config-typescript",
    "plugin:markdown/recommended-legacy",
    "plugin:prettier/recommended"
  ],
  "ignorePatterns": ["/scripts/*"],
  "rules": {
    "@typescript-eslint/array-type": "error",
    "@typescript-eslint/consistent-indexed-object-style": "error",
    "@typescript-eslint/no-inferrable-types": "error",
    "@typescript-eslint/prefer-ts-expect-error": "error",
    "vue/block-order": ["error", { "order": ["template", "script", "style"] }],
    "vue/component-api-style": ["error", ["script-setup"]],
    "vue/component-name-in-template-casing": ["error", "kebab-case"],
    "vue/define-emits-declaration": ["error", "type-based"],
    "vue/define-macros-order": [
      "error",
      { "order": ["defineOptions", "defineProps", "defineEmits"] }
    ],
    "vue/define-props-declaration": ["error", "type-based"],
    "vue/no-deprecated-slot-attribute": "off",
    "vue/no-template-target-blank": "error",
    "vue/prefer-true-attribute-shorthand": "error",
    "vue/require-typed-ref": "error",
    "vue/v-for-delimiter-style": "error",
    "vue/valid-define-options": "error"
  }
}
